/* Altmaster CSS style */

body {
	font-family: "arial", "sans-serif";
	vertical-align: middle;
}

/* lays all layers on top of one another */
.img_layer {
	position: absolute;
}

/* navigation */
.left {
	float: left;
	margin: 0.25em 0;
	padding: 1em 2em;
}
.right {
	float: left;
	margin: 0.25em;
	padding: 1em 2em;
}
.jump {
	float: left;
	margin: 0.25em;
	padding: 1em 2em;
}
.inputbox {
	float: left;
	font-size: 24px;
	height: 48px;
	width:	48px;
	margin: 2px;
}
#navigator {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	display: block;
	padding: 0.5em;
	position: fixed;
	z-index: 50;
}
.nav {
	
}
.name {
	float: left;
	margin: none;
	padding: 1em 1em;
	text-align: center;
	width: 100px;
	/* VV edit values below to move navigation bar VV */
	top: 0px; /*move down*/
	left: 0px; /*move right*/
}

/* hide nav 

.hide {
	background-color: #ddd;
	width: 16em;
	height: 2em;
	overflow: hidden;
	top: 0px;
	left: 0px;
}*/

.hide:hover>.nav {
	
}


/* layer depth */
.slides_L1 {
	z-index: 0;
}
.slides_L2 {
	z-index: 1;
}
.slides_L3 {
	z-index: 2;
}

.text {
	position: absolute;
	background-color: gray;
	min-width: 100px;
	min-height: 100px;
	left: 600px;
	top: 200px;
	z-index: 50;
}